In [1]:
#Dependencies
import numpy as np
import pandas as pd
import datetime as dt
import plotly.express as px
import plotly.subplots as ps
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [9]:
#Read Excel file
df = pd.read_excel('./Resources/The_Numbers_Data.xlsx')

#create df
tech_df = df.loc[1716:1981]

#Labels for columns
tech_df.rename(columns={'The Numbers - Where Data and Movies Meet':'Person',
                          'Unnamed: 1':'Movies_Contribution', 'Unnamed: 2':'Roles','Unnamed: 3':'Franchise_Box_Office',
                            'Unnamed: 4':'Career_Box_Office','Unnamed: 5':'Career/Franchise'}, inplace = True)

tech_df.head()

c:\Users\Kevin McConchie\anaconda3\envs\bootcamp\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Person,Movies_Contribution,Roles,Franchise_Box_Office,Career_Box Office,Percentage_Total_Box_Office
1716,Kevin Feige,38,Producer (38),28673854585,33587081326,0.854
1717,Louis DâEsposito,30,Executive Producer (30),28408280726,29186519006,0.973
1718,Victoria Alonso,30,Executive Producer (26),28408280726,28409152892,1
1719,NaN,NaN,Co-Producer (4),NaN,NaN,NaN
1720,Stan Lee,27,Executive Producer (22),26559804240,38890586167,0.683