In [269]:
#Dependencies
import numpy as np
import pandas as pd
import datetime as dt
import plotly.express as px
import plotly.subplots as ps
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [270]:
#Read Excel file
df = pd.read_excel('./Resources/The_Numbers_Data.xlsx')

#create df
tech_df = df.loc[1716:1981]

#Labels for columns
tech_df.rename(columns={'The Numbers - Where Data and Movies Meet':'Person',
                          'Unnamed: 1':'Movies_Contribution', 'Unnamed: 2':'Roles','Unnamed: 3':'Franchise_Box_Office',
                            'Unnamed: 4':'Career_Box_Office','Unnamed: 5':'Career/Franchise'}, inplace = True)

tech_df

c:\Users\Kevin McConchie\anaconda3\envs\bootcamp\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Person,Movies_Contribution,Roles,Franchise_Box_Office,Career_Box_Office,Career/Franchise
1716,Kevin Feige,38,Producer (38),28696064189,33609290930,0.854
1717,Louis DâEsposito,30,Executive Producer (30),28430490330,29208728610,0.973
1718,Victoria Alonso,30,Executive Producer (26),28430490330,28431362496,1
1719,NaN,NaN,Co-Producer (4),NaN,NaN,NaN
1720,Stan Lee,27,Executive Producer (22),26559804240,38890586167,0.683
...,...,...,...,...,...,...
1977,Mike Stassi,2,Set Designer (2),1843977983,3683791687,0.501
1978,Julien Pougnier,2,Set Designer (2),1843977983,2947976379,0.626
1979,Camille Friend,2,Hair Department Head (2),1843977983,4304618696,0.428
1980,Jojo Warne,2,Location Manager (2),1580355465,1580355465,1
1981,Quick Links,NaN,NaN,NaN,NaN,NaN

In [272]:
#split off excess number strings in Roles
r_df= tech_df[['Roles', 'B']] = tech_df['Roles'].str.split('(',  expand=True)
# join new df to original df
role_df = pd.concat([tech_df, r_df], axis=1, join='inner')
# drop excess columns
role_df.drop(['B', 0,1], axis=1, inplace=True)
# reset index
role_df.reset_index(drop=True, inplace=True)
# fix odd characters for Louis Da Esposito
role_df.at[1,'Person']='Louis Da Esposit'
# clear NaN values
role_df =role_df.dropna()
role_df.head()

c:\Users\Kevin McConchie\anaconda3\envs\bootcamp\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Person,Movies_Contribution,Roles,Franchise_Box_Office,Career_Box_Office,Career/Franchise
0,Kevin Feige,38,Producer,28696064189,33609290930,0.854
1,Louis Da Esposit,30,Executive Producer,28430490330,29208728610,0.973
2,Victoria Alonso,30,Executive Producer,28430490330,28431362496,1
4,Stan Lee,27,Executive Producer,26559804240,38890586167,0.683
7,Dave Jordan,22,Music Supervisor,21605425997,25206938100,0.857

In [273]:
# .to_csv('technical_credits.csv', sep='\t', encoding='utf-8')